* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "sansation", sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: #1A283C;
}

img {
  width: 100%;
}

.outer_container {
  height: 50vh;
  width: 1200px;
  margin: auto;
  padding-top: 5px;
}

.flex_container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  /* flex-wrap: wrap; */
}

/* font styles */

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}
.cast_header {
  font-size: 45px;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cast_link {
  font-size: 1.5em;
  text-transform: uppercase;
}



/***************Navigation Styles***************/


.navigation,
.nav_flex  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1A283C;
    padding: 0.5rem 1rem;
}

/* .navigation {
  margin-top: 15px;
} */


nav {
  margin: auto;
  width: 1200px;
}

.topnav {
  background-color: #1A283C;
}


ul {
    list-style-type: none;
    
}

li {
    padding: 20px;
    
}

.logo_container {
   width: 125px;
}

/* Hamburger */
    .menu-toggle {
      /* display: none; */
      flex-direction: column;
      cursor: pointer;
    }

    .menu-toggle div {
      width: 25px;
      height: 3px;
      background: white;
      margin: 4px 0;
    }


/* main styles */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.flex_container_cast {
  display: flex;
  flex-direction: column;
}

.cast {
  display: flex;
  margin-bottom: 20px;
}

.photo {
  padding-top: 5px;
  width: 175px;
  margin: 5px;
}

.bio {
  padding: 5px 15px;
  text-align: justify;
}

/* font styles */

span {
  font-weight: 700;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}

p {
  margin-top: .5rem;
}

/* footer styles */

footer {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #BB9650;
}

a:visited {
  color: #1A283C;
}

a:hover {
  text-decoration: underline;
  color:#1A283C;
}

/********* mobile navigation styles */


/* Style navigation menu links */
 .topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
 }


/***************** link Styles ***************/

/* selected link */
a:active {
  color: #893626;
}



/*****************Media queries*************/
@media screen and (max-width: 800px) {
  .outer_container {
   max-width: 500px;
  }

   .navigation {
    display: none;
   }
  

 .flex_container {
   display: flex;
   /* flex-direction: column; */
   flex-wrap: wrap;
 }

}


@media (max-width: 768px) {
      nav {
      margin: auto;
      width: 768px;
    }    

      nav .logo {
        display: none;
        color:white;
      }

        nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #1A283C;
      }

      nav ul li {
        /* margin: 1rem 0; */
        text-align: center;
      }

      .menu-toggle {
        display: flex;
      }

      nav ul.active {
        display: flex;
      }

      .topnav a {
      padding: 5px 16px;
      font-size: 18px;
     }
    }


/*****************Media queries*************/
@media screen and (max-width:500px) {
   .outer_container {
    max-width: 300px;
   }

  nav {
      width: 450px;
    }    


  .flex_container {
    display: flex;
    flex-direction: column;
  }
  
  .dido,
  .gift,
  .medium {
    max-width: 250px;
  }

  .cast_header {
    font-size: 40px;
  }

  body {
    font-size: 14px;
  }

  .photo {
    width: 100px;
  }

  h1 {
    font-size: 30px;
  }


  .logo {
    display: none;
  }
}